/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 21, 2015, 6:09:34 PM
    Author     : SYP
*/

body {
    background-color: #000;
    
}

#page {
    background-color: $black;
    background-image: url(../images/grey-background-lines.png); background-repeat:no-repeat;
    background-size: 200%; background-position-x: center;
    overflow: hidden;
    .node-type-research &, .node-type-events &, .node-type-news-article & {
        background-color: #fff;
        background-image: url(../images/white-background-lines.png); 
    }
    position: relative;
    max-width:100%;
    .container {
        max-width:1100px;
        padding:0 120px;
        /* min-height:700px; */
        margin: 0 auto;
        position: relative;
        z-index: 2;
        
        @include breakpoint(maxlarge) {
            padding: 0 20px 0 120px;
        }
        @include breakpoint(maxsmall) {
            padding: 0 20px;
        }
    }
    a {
        text-decoration: none;
        &:active { outline: none; }
    }
}

#header {
    position: relative; z-index:2;
    #logo {
        margin-top:75px; margin-left:-10px;
        img {
            width:310px;
        }
        @include breakpoint(maxsmall) {
            margin-left: 20px;
        }
    }
    .main-menu { 
        font-family: 'DINWeb-MediumItalic';
        @include breakpoint(maxlarge) {
            cursor: pointer; margin-bottom: 0; background-color: #000;
            position: fixed; width: 100%; top: 0; left: 0; 
            min-height: 45px;
            &:after { 
                position: absolute; right: 20px; top: 10px; content: "\f0c9"; font-family: FontAwesome; 
                display: block; color: #fff; font-size: 30px;
            }
            .menu-block-wrapper > .menu { 
                padding:0; list-style: none; margin: 0; display: none;
                margin-top: 45px; border-top:1px $gray solid;
                > li { 
                    list-style: none; margin:0;
                    background: #000;  position: relative;
                    border-bottom:1px $gray solid; padding:10px 20px;
                    a { 
                        display: block; color: $white; 
                        &:after {
                            
                        }
                    }
                    &.expanded {
                        &:after {
                            content: "+"; position: absolute; right: 20px;
                            top: 10px; color: $white; font-family: 'DINWeb-Medium';
                        }
                        &:hover:after {
                            content: "-";
                        }
                    }
                    .menu { 
                        display: none; margin:10px -20px 0 -20px; padding:0;
                        li { 
                            background-color: $gray;
                            padding:10px 20px 10px 40px; border-bottom:1px #000 solid; 
                            a {
                                color: $white;
                            }
                        }
                        li.last { border-bottom:none; }
                    }
                    &:hover, &.active-trail {
                       > a {  }
                        .menu { 
                            display: block; 

                        }
                    }
                    &.expanded:hover, &.expanded.active { padding-bottom:0; }
                }
            }
            &.menu-active .menu { display:block; }
        }
        @include breakpoint(minlarge) {
            position: absolute; right: 0; bottom: -10px; margin: 0;
            .menu-block-wrapper > .menu { 
                display: block; 
                li {
                    list-style: none; float: left; font-size:17px;
                    a { 
                        display: block; padding:5px 20px; position: relative;
                        color: $white;

                        &:before {
                            @include diag-border($orange);
                            margin-left:-20px; padding-right: 15px;
                            line-height: 35px;
                        }
                        .node-type-research &, .node-type-events &, .node-type-news-article & {
                            color: $gray;
                        }
                        &:hover, &.active, &.active-trail {
                            color: $blue;
                        }
                        /*
                        background-image: url(../images/tii_line2.svg); 
                        background-repeat: no-repeat;
                        */
                    }
                    &.last {
                        a {
                            &:after {
                                @include diag-border($orange);
                                margin-left: 20px;
                            }

                        }
                    }
                    ul.menu {
                        background-color: #464646; position:absolute; 
                        display:none; padding:7px 0;
                        li {
                            float: none; position: relative;
                            a {
                                padding: 2px 20px; background: none;
                                &:before {
                                    display: none;
                                }
                            }
                            &.last a:after { display: none; margin: 0; }
                            .node-type-research &, .node-type-events &, .node-type-news-article & {
                                a {
                                    color: $white;
                                }
                            }
                        }
                    }
                    &:hover {
                        ul.menu {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
.sharethis-buttons, .sharethis-block {
    h2.block-title { font-size: 21px; font-weight: normal; }
    color: $blue; 
    span {
        font-size: 1.175em; cursor: pointer;
        &:before {
            font-family: 'FontAwesome'; 
            display: inline-block; width: 30px;
        }
        &:after {
            
        }
    }
    .st_facebook_custom {
        &:before {
            content: "\f09a"; 
        }
        &:after {
            content: "Facebook"; 
        }
    }
    .st_twitter_custom {
        &:before {
            content: "\f099"; 
        }
        &:after {
            content: "Twitter"; 
        }
    }
    .st_email_custom {
        &:before {
            content: "\f003"; 
        }
        &:after {
            content: "E-mail"; 
        }
    }
    .region-sidebar-second & {
        padding: 0 20px;
        h2.block-title { margin-bottom: 1em;  }
        span {
            margin-bottom: 12px; display: block;
        }
        .node-type-news-article & {
            margin-top:40px;
        }
    }
    #main #content & {
        h2 {
            border-bottom: 1px $blue solid; margin-bottom: 10px;
            font-size: 21px;
        }
        span {
            margin-right: 30px; display: inline-block;
            
        }
    }
}


// image styles
.field-type-image {
    position: relative;
    float: left;
    margin-right: 1.5em;
    margin-right: 3em;
    transform: skewX(-12deg); -webkit-transform: skewX(-12deg);
    overflow: hidden;
    img {
        transform: skewX(12deg); -webkit-transform: skewX(12deg);
        display: block;
        max-width: inherit;
    }
    .view-events &, .view-past-events &, .view-news-archive & {
        width: 175px; height: 210px;
        -webkit-shape-outside: polygon(18% 0, 100% 0, 82% 100%, 0 100%);
        -moz-shape-outside: polygon(18% 0, 100% 0, 82% 100%, 0 100%);
        shape-outside: polygon(18% 0, 100% 0, 82% 100%, 0 100%);
        img {
            margin-left:-22px; width:calc(100% + 44px);
        }
    }
    .view-research-summaries & {
        width: 300px; height: 205px;
        -webkit-shape-outside: polygon(13% 0, 100% 0, 87% 100%, 0 100%);
        -moz-shape-outside: polygon(13% 0, 100% 0, 87% 100%, 0 100%);
        shape-outside: polygon(13% 0, 100% 0, 87% 100%, 0 100%);
        img {
            margin-left:-22px; width:calc(100% + 44px);
        }
    }
    @include breakpoint(maxsmall) {
        float: none; margin: 0 0 20px 20px;
    }
}
#main {
    padding-top:3em; padding-bottom: 60px;
    #content {
        color: $white;
        .node-type-research &, .node-type-events &, .node-type-news-article & {
            color: $black;
        }
        h1.title {
            margin-left:-52px;
            background-color: $orange;
            color: #fff;
            font-family: 'DINWeb-Medium'; font-weight: normal;
            padding:5px 20px 2px 20px;
            display: inline-block; text-transform: uppercase;
            -webkit-transform: skew(-12deg);
            -moz-transform: skewX(-12deg);
            -o-transform: skewX(-12deg);
            transform: skewX(-12deg);
            margin-bottom: 40px;
            /* -webkit-clip-path: polygon(12px 0%, 100% 0%, -webkit-calc(100% - 12px) 100%, 0% 100%); */
            &.two {
                margin-left: -58px;
            }
            &.three {
                margin-left: -64px;
            }
            @include breakpoint(maxsmall) {
                margin-left:-22px;
                &.two {
                    margin-left: -28px;
                }
                &.three {
                    margin-left: -32px;
                }
            }

        }
        h2, h3, .field-label {
            text-transform: uppercase; font-family: 'DINWeb-MediumItalic'; position: relative;
            font-weight: normal; margin-top:1.5em; margin-bottom: .75em;
        }
        h2 {
            color: $blue; margin-left:-15px;
            font-size: 1.6em; line-height: 1.25em;
            &:before {
                @include diag-border($orange);
            }
            a {
                color: $blue; 
            }
            &.orange {
                color: $orange;
                &:before {
                    @include diag-border($blue);
                }
            }
            .node-type-research &, .node-type-events &, .node-type-news-article & {
                margin-left: 0;
                &:before { display: none; }
                
            }
            &.first {
                margin-top: 0;
            }
        }
        h3, .field-label {
            color: $orange; font-size:1.1em;
        }
        p {
            margin-top: 0; margin-bottom: 1em;
        }
        a {
            color: $blue;
        }
        .team-name {
            margin: 0; font-family: 'DINWeb-Medium';
        }
        .team-title {
            color: $blue; margin: 0;
        }
        .node {
            .group-left {

            }
        }
        .field-name-title {
            h2 {
                &:before { display: none; }
            }
        }

        .field-name-body {
            .nbimage {
                padding-bottom: 10px; border-bottom: 1px $lightblue solid; 
                margin-bottom: 20px;
                img { width: 100%; }
                .imgtitle {
                    color: $lightblue; text-transform: uppercase;
                    font-family: 'DINWeb-MediumItalic';
                }
            }
        }

        .node {
            @include breakpoint(minsmall) {
                margin-left: 40px;
                .page-node &, .node-type-research & {
                    margin-left: 100px;
                }
                .node-type-events &, .node-type-news-article & {
                    margin-left: 40px;
                }
            }
        }

        // team page multi column layout
        .team-list {
            padding: 0; margin: 0; list-style:none;
            li {
                margin: 0; padding: 0;
                .image {
                    display: block; float: left; margin-right: 20px;
                    -webkit-shape-outside: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
                    -moz-shape-outside: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
                    shape-outside: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
                }
                img {

                }
                .team-title { margin-bottom: 5px; }
                &:first-child {

                }
            }
        }
        .steering-committee-list {
            /* column-count: 3; -webkit-column-count: 3; -moz-column-count: 3; */
            margin: 0; padding: 0; list-style: none;
            li {
                margin: 0 0 0px 0; padding:5px 0 0 0;
                width: 80%; 
                .team-name {
                    color: $blue; font-family: 'DINWeb-Medium';
                    border-bottom: 1px $gray solid; padding: 0 0 5px 0;
                    margin-bottom: 5px; cursor: pointer;
                }
                .team-title {
                    color: $orange; font-size: 1em;
                }
                p { font-size: .875em; display: none; }
                &.active {
                    p {
                        display: block;
                    }
                }
            }
        }
        .node-type-research &, .node-type-events &, .node-type-news-article & {
            a {
                color: $blue; text-decoration: underline;
            }
            .node {
                margin-left: 0px;
            }
            .field-type-image {
                display: none;
            }
        }

        .front & {
            h1.title { display: none; }
            @include breakpoint(minsmall) {
                margin-left: 80px;
            }
            @include breakpoint(smallmed) {
                margin-left: 20px;
            }
        }
        // home page styles
        // accordian slider
        .accordian-slider {
            margin: 0;
            .slider-nav {
                clear: both; padding: 0; list-style: none;
                float: right; margin: 0 80px 0 0;
                li {
                    margin: 0; padding: 0; cursor: pointer; float: left;
                    color: $gray;
                    span { visibility: hidden; }
                    &:before {
                        content: "\2022"; font-size:2em;
                    }
                    &.active {
                        color: $white;
                    }
                    &.play-pause {
                        line-height: 1.25em;
                        &:before {
                            content: "\f04c"; font-family: 'FontAwesome';
                            font-size: 14px;
                        }
                        &.paused:before {
                            content: "\f04b";
                        }
                    }
                }
            }

        }
        .accordian-list {
            .slider-list {
                transform: skewX(-12deg); -webkit-transform: skewX(-12deg);
                margin-bottom:10px;
                .slider, .slidesjs-container {
                    .views-field-title {
                        transform: skewX(12deg); -webkit-transform: skewX(12deg);
                        position: absolute; bottom: 0; 
                        padding: 0 20px; width: 100%; box-sizing: border-box;
                        color: $white; font-family: 'DINWeb-Italic';
                        text-transform: uppercase;
                        a { color: $white; }
                        .field-content {
                            display: table-cell; height: 96px; 
                            vertical-align: middle;
                            .title {
                                font-size: 1.75em;
                                margin: 0 0 5px 25px;
                            }
                            .subtitle {
                                line-height: 1em;
                                &:before {
                                    content: "\f0a9"; font-family: 'FontAwesome'; 
                                    padding-right:10px;
                                }
                            }
                        }
                        
                    }
                }
                .slider {
                    .views-field-field-image {
                        transform: skewX(12deg); -webkit-transform: skewX(12deg);
                        image, img { 
                            width: 100%; height: 100%;
                        }
                    }
                    .views-field-title {

                    }
                    border-left:13px $black solid;
                    .views-field-field-image {
                        position: absolute; 
                        margin-left:-35px; height: 100%;
                        width: calc(100% + 80px);
                        .field-content { height: 100%; }
                        image, img { 
                            width: 100%; height: 100%;
                        }
                    }
                    &.slider-closed {
                        .views-field-title {
                            display: none;
                        }
                        &:before {
                            content: "\f0a9"; font-family: 'FontAwesome'; 
                            display: block; position: absolute; bottom: 20px;
                            width:6%; text-align: center;
                            transform: skewX(12deg); -webkit-transform: skewX(12deg);
                        }
                    }
                    &:first-child {
                        &.slider-open {
                            /* border:none; */
                        }
                    }
                    &.slider-open, &.views-row-first {
                        .views-field-field-slice-image { display: none; }
                    }
                }
                .slidesjs-container {
                    .views-field-field-image {
                        transform: skewX(12deg); -webkit-transform: skewX(12deg);
                    }
                    .views-field-field-slice-image { display: none; }
                    .views-field-field-image {
                        margin-left:-20px; height: 100%;
                        width: calc(100% + 80px);
                    }
                }
                .slidesjs-navigation { 
                    position: absolute; right: 30px;
                    color: $black;
                    
                    &:after {
                        font-family: 'FontAwesome';
                        font-size: 14px; color: $gray;
                    }
                    &.slidesjs-play:after {
                        content: "\f04b"; 
                    }
                    &.slidesjs-stop:after {
                        content: "\f04c";
                    }
                    &.slidejs-previous, &.slidejs-next {
                        display: none;
                    }
                }
                .slidesjs-pagination {
                    transform: skewX(12deg); -webkit-transform: skewX(12deg);
                    list-style: none; padding: 0;
                    float: right; color: $gray; margin: 0px 40px 20px 0;

                    li {
                        position: relative; float: left; margin-left:10px;
                        a {
                            z-index:1; position: relative;
                            font-size:.5em; color: $gray; left: 2px; 
                            padding: 0 4px;
                            &:before {
                                content: "\2022"; font-size:32px; position: absolute;
                                top: 0; left: 0; line-height: 11px;
                            }
                            &.active {
                                color: $white;
                            }
                        }

                    }
                }
            }
            @include breakpoint(minsmall) {
                margin-right: 40px;
                .slider-list {
                    max-width:100%;
                    .slider {
                        float: right; 
                    }
                }

            }
            @include breakpoint(maxsmall) {
                margin-left:20px;
                .slider-list, .slidesjs-container {
                    padding: 0 20px 5px 0; margin: 0; list-style: none;
                    .views-field-title {
                        padding: 10px; 
                        .title {
                            font-size:1em !important; line-height: normal;
                            font-family: 'DINWeb-MediumItalic'
                        }
                        .subtitle {
                            display: none;
                        }
                    }
                }
                .slider-list {
                    width:calc(100% + 30px);
                }
            }
        }
        .homepage-news-block {
            clear:both; 
            .views-row {
                position: relative; margin-bottom: 20px; 
                font-family: 'DINWeb-MediumItalic';
                .views-field-title {
                    color: $white; 
                    z-index: 2;
                    a { color: $white; }
                    .title {
                        font-size: 1.25em; margin-left:5px;
                    }
                    .subtitle {
                        text-transform: uppercase;
                        font-family: 'DINWeb-Italic';
                        /*
                        &:before {
                            content: "\f0a9"; font-family: 'FontAwesome'; 
                            padding-right:10px;
                        }
                        */
                    }
                }
                .views-field-field-slice-image {
                    img {
                        height: 50%; width: auto;
                    }
                }
            }
            @include breakpoint(maxsmall) {
                .views-row {
                    border-top-width: 2px; border-top-style: solid;
                    padding-top: 10px;
                    &:first-child {
                        border-top-color: $blue;
                    }
                    &:last-child {
                        border-top-color: $orange;
                    }
                    &:nth-last-child(2) {
                        border-top-color: $purple;
                    }
                }
                .views-field-field-slice-image {
                    display: none;
                }
                .views-field-title {

                }
            }
            @include breakpoint(minsmall) {
                transform: skewX(-12deg); -webkit-transform: skewX(-12deg);
                float: right; margin: 20px 120px 0 0; width: calc(100% - 60px);
                .views-row {
                    height:75px; overflow-y: hidden; 
                }
                .views-field-title {
                    transform: skewX(12deg); -webkit-transform: skewX(12deg);
                    position: absolute; top: 15px; left: 40px;
                }
            }

        }

        // events, research, news
        .node-events, .node-research, .node-news-article {
            .field-name-field-event-subtitle, .field-name-field-news-subtitle {
                color: $blue; text-transform: uppercase; font-family: 'DINWeb-MediumItalic'; 
                margin-bottom: 1em; font-size:1.6em;
            }
            .field-name-field-event-speaker-host {
                margin-bottom: 20px;
                h3, p { margin: 0; }
            }
            .field-name-field-event-location {
                h3, p { margin: 0; }
                h3 {  }
                margin-bottom: 1em;
            }
            .field-name-field-event-sponsors {
                .field-label {
                    margin-bottom: .5em;
                }
                p { margin: 0; }
            }
            .field-name-post-date {
                color: $orange; font-family: 'DINWeb-MediumItalic';  margin-bottom: 1em;
            }
            .field-name-node-link {
                text-transform: capitalize;
            }
            .field-type-image {

            }
            .field-name-field-news-author-footer  {
                color: $orange; font-style: italic;
                a {
                    color: $orange;
                }
            }
        }
        .view-research-summaries, .view-events, .view-past-events, .view-news-archive {

            h2 { 
                margin: 0; 
            }
            h3 { margin-bottom: 0; color: $white; }
            p { margin: 0; }
            .views-row:not(:last-child) {
                margin-bottom: 50px;
            }
            .field-name-node-link {
                a {
                    font-family: 'DINWeb-MediumItalic'; 
                    color: $white;
                    &:before {
                        content: "\f0a9"; font-family: 'FontAwesome'; color: $blue;
                        padding-right:10px;
                    }
                }
            }
            .field-name-field-event-subtitle {
                color: $orange; font-size:1.1em;
            }
            .field-name-post-date {
                color: $orange;
            }
            .field-name-body {
                margin-bottom: 10px;
            }
        }
        // research
        .node-research {
            .field-label {
                font-size: 1.6em; color: $blue; margin-bottom: .5em;
                margin-top:1.5em;
            }
            .field-name-body .field-label { margin-top: 0; }
        }
        .view-research-summaries {
            h2 { 
                color: $green; margin-bottom: .5em; 
                a { color: $green; }
            }
        }
        .grid-columns {
            @include breakpoint(maxsmall) {
                li {
                    clear: both; 
                    @include clearafter;
                    
                }
            }
        }
        @include breakpoint(minsmall) {
            // grid column layout
            .grid-columns {
                &.cols-2 {
                    @include responsive-grid(2);
                }
                &.cols-3 {
                    @include responsive-grid(3);
                }
            }
        }
    }
    .front & {
        padding-top: 1.5em;
    }
}

.region-sidebar-second {
    margin-top:100px; padding: 0;
    h2.block-title {
        color: $blue; 
        font-size: 1.25em; 
        text-transform: uppercase;
        font-family: 'DINWeb-MediumItalic'; 
        line-height: normal;
        a {
            color: $blue;
        }
    }
    ul {
        margin: 0; padding: 0;
        li {
            list-style: none;
        }
    }
    a {
        color: $white;
    }
    .news-archive, .past-events {
        background-color: #000;
        padding: 10px;
        @include breakpoint(minlarge) {
            padding: 20px;
        }
    }
    .node-type-research &, .node-type-events &, .node-type-news-article & {
        .news-archive, .past-events {
            background: none;
            a {
                color: $gray;
            }
        }
    }
    @include breakpoint(maxsmall) {
        display: none;
    }
    
}

#footer {
    background-color: #000; padding:20px; width:100%; 
    height: 110px; box-shadow: border-box;
    .inner {
        max-width: 1100px; margin: 0 auto; position: relative;
        .block, p {
            margin: 0;
        }
    }
    a {
        color: $white;
    }
    .footer-info-block {
        float: right; color: $white; font-size: .8em;
        line-height: 1.5em;
        .cols {
            float: left; margin-left: 30px;
        }
        p { margin: 0; }
    }
    .tufts-logo {
        float: left;
    }
    @include breakpoint(maxsmall) {
        height: auto; 
        .footer-info-block, .tufts-logo {
            float: none; 
            .cols {
                float: none; margin: 20px 0 0 0;
            }
        }
    }
    @include breakpoint(minlarge) {
        padding: 20px 0 20px 0;
    }
}




#tii-line {
    /*
    -moz-transform: rotate(258deg);  
    -o-transform: rotate(258deg);  
    -webkit-transform: rotate(-258deg);  
    -ms-transform: rotate(258deg);  
    transform: rotate(-258deg);  
    zoom: 1;
    */
    z-index: 0;
    /* width: 100%; */
    /* height: calc(100% + 110px); */
    height: 100%;
    position: absolute;
    top: 20px;
    overflow: visible;
    left: -5px;
    
    @media (min-width: 1340px) {
        left: calc(50% - 675px);
    }
    @include breakpoint(maxsmall) {
        left: -75px;
    }
}
.svg-defs {
    position: absolute;
}